#p1{
    text-align: center;
    color: blueviolet;
    background-color: burlywood;
}

.santa_clara{
    display: block;
    margin-right: auto;
    margin-left: auto;

}


.centrar_texto {
    text-align: center;
    font-weight: bold;
}